@import 'colors';
@import 'media';

:local(.user) {
    
    @extend .base-media;
    height: 150px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: $secondary;
    

    span {
        font-weight: bolder;
        
        &:hover {
            color: darken($secondary, 20%);
        }
    }


}
